 

/* .currentWeather_hightlights_title {
    width: 690px;
    height: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #E7E7EB;

} */

/* .currentWeather__windStatus,
.currentWeather__humidity {
    width: 43%;
    min-width: 240px;
    max-width: 328px;
    height: 190px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1E213A;
    margin-bottom: 20px;
} */

/* .currentWeather__visibility,
.currentWeather__airPressure {
    width: 43%;
    min-width: 240px;
    max-width: 328px;
    height: 30%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1E213A;

} */

/* .currentWeather__windStatus_title,
.currentWeather__humidity_title,
.currentWeather__visibility_title,
.currentWeather__airPressure_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    text-align: center;

    color: #E7E7EB;
} */

/* .currentWeather__windStatus_value,
.currentWeather__humidity_value,
.currentWeather__visibility_value,
.currentWeather__airPressure_value {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 70px;
    margin-bottom: 15px;
} */

/* .currentWeather__windStatus_value h3,
.currentWeather__humidity_value h3,
.currentWeather__visibility_value h3,
.currentWeather__airPressure_value h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin: 0;

    color: #E7E7EB;

} */

/* .currentWeather__windStatus_value h4,
.currentWeather__humidity_value h4,
.currentWeather__visibility_value h4,
.currentWeather__airPressure_value h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin: 0 0 5px 2px;

    color: #E7E7EB;
} */

.currentWeather__windStatus_direction {
    display: flex;
    flex-direction: row;
    align-items: center;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #E7E7EB;

}

/* .__windStatus_direction   {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 29.49px;
    height: 29.49px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;

    border-radius: 50%;
    background: #ffffff4d;
    transform: rotate(-150deg);

    color: #E7E7EB;
    ;

} */

/* .humidity__number_porcentage {

    width: 70%;
    height: 26px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 700;
    font-size: 12px;

    text-align: center;
    color: #A09FB1;
    margin: 0;


} */

/* .humidity__bar {
    display: flex;
    align-items: center;
    width: 70%;
    height: 8px;

    background: #E7E7EB;
    border-radius: 80px;
    margin: 0;
    padding: 0;
} */

/* .humidity__bar div {

    height: 8px;

    background: #FFEC65;
    border-radius: 80px;
} */

/* .humidity__porcentage {
    width: 70%;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    text-align: right;
    color: #A09FB1;

} */

/* footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #A09FB1;

    font-family: 'Montserrat', sans-serif;
} */

/* footer h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

} */

/* footer h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    text-align: center;

    margin: 0 5px;
} */

/* footer h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

} */