.wheather__nav_item {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    box-sizing: border-box;

    width: 70%;
    max-width: 367px;
    height: 54px;
    margin-top: 10px;
    padding-left: 10px;



    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    cursor: pointer;
    color: #E7E7EB;
}

.wheather__nav_item:hover {
    border: 1px solid #616475;
}

.wheather__nav_item:hover::after {
    content: '>';
    color: #616475;
    position: relative;
    right: 18px;
    font-size: 24px;
    font-family: cursive;
}